[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Result"]
	path = Result
	url = https://github.com/antitypical/Result.git
[submodule "Moya"]
	path = Moya
	url = https://github.com/Moya/Moya.git
